<!doctype html>
<html lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{% block title %}{% endblock %} - Learn Subtitles</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
    <div id="page-container">
      <div id="header">
        {% block header %}
        {% endblock %}
      </div>

      <div id="content">
        {% block content %}
        {% endblock %}
      </div>

      <div id="footer">
        <div id="footer-wrapper">
          <div id="copyright"><p>Copyright&nbsp;&copy;&nbsp;Vladimir&nbsp;Rutsky,&nbsp;2011<p></div>
          <div id="width100p"></div>
          <div id="icons">
            <div><a href="http://www.allbuttonspressed.com/projects/django-nonrel"><img 
                src="/images/django-nonrel.png" 
                style="border:0;width:150px;height:25px" 
                alt="Made with Django-nonrel."></a></div><!--

         --><div><a href="http://code.google.com/appengine/"><img 
                style="border:0;width:120px;height:30px"
                src="/images/appengine-silver-120x30.gif"
                alt="Powered by Google App Engine"></a></div><!--

         --><div><a href="http://jigsaw.w3.org/css-validator/check/referer"><img
                style="border:0;width:88px;height:31px"
                src="/images/vcss-blue.gif"
                alt="Valid CSS!"></a></div><!--

         --><div><a href="http://validator.w3.org/check?uri=referer"><img 
                style="border:0;width:88px;height:31px"
                src="/images/valid_html5.png"
                alt="Valid HTML5!"></a></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<!-- vim: set ts=2 sw=2 et: -->
