{% extends 'base.html' %}

{% load learnsubtitles %}

{% block title %}It works!{% endblock %}

{% block preload_js %}
<script type="text/javascript">
  $(function() {
    // Setup tree.
    $("#categories_tree")
      .jstree({
        "plugins": ["themes", "html_data", "ui", "cookies"],
        "core": {},
        "cookies": {
            "save_selected": false,
          },
        "themes": {
            "icons": false,
          },
        "ui": {
            "select_limit": 1,
          },
      })
      .bind("select_node.jstree", function( event, data ) {
        var id = data.rslt.obj.attr("id");
        window.location = $("#" + id + "_link").attr("href");
      });

    // Disable tree links (since JavaScript works).
    $("#category_tree a").each(function( elem ) {
      
    })
  });
</script>
{% endblock %}

{% block content %}
<div id="categories_tree">
<ul>
{% category_tree root_category %}
</ul>
</div>

{% block description %}
{% endblock %}

{% endblock %}
{% comment %}
vim: ts=2 sw=2 et:
{% endcomment %}
